@import 'variables';
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Source Code Pro', monospace;
    color: rgb(255, 255, 255);
    background: $bg-darkgrey;
}

img {
    max-width: 100%;
    height: auto;
}
